.about__container {
  padding-top: 2rem;
  padding: 7rem;
    display: grid;
    grid-template-columns: 35% 53%;
    gap: 12%;
  }

  .about__portrait {
    /* height: calc(82%); */
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: baseline;
    max-height: 40rem;
    /* border: 0.8rem solid var(--color-white); */
    transition: var(--transition);
    border-radius: var(--border-radius-2);
    border-radius: 10px;
  }
  .about__portrait  img{
   margin: 15px;
    transform: scale(1); /* Initial scale */
  transition: transform 0.5s
  }
  .about__portrait img:hover {
transform: scale(1.1)
  }
  
  /* @keyframes refresh {
    from {
      transform: scale(1.5) ;
    }
    to {
      transform: scale(1.5) rotate(360deg);
    }
  }*/
  .about__cards { 
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .card.about__card {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .about__card-icon {
    font-size: 1.3rem;
    color: var(--color-black);
    border-radius: var(--border-radius-3);
    width: fit-content;
    margin-inline: auto;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    transition: var(--transition);
  }
  .service__details{
    margin-top: 5%;
  }
  .card.about__card:hover .about__card-icon {
    background: var(--color-primary);
    color: var(--color-white);
  }
  
  .card.about__card h5 {
    margin: 0.5rem 0;
  }
  
  .about__right p {
    margin-bottom: 1.2rem;
  }
  
  .about__right .btn {
    margin-top: 2.5rem;
  }
  
  /* Media Query (Tablet)  */
  @media screen and (max-width: 1024px) {
    .about__left {
      display: none;
    }
    .about__container {
      grid-template-columns: 1fr;
    }
    .about__right h2 {
      text-align: center;
    }
  }
  
  /* Media Query (Phone)  */
  @media screen and (max-width: 600px) {
    .about__container{
      padding: 15px;
    }
    .about__cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .card.about__card {
      padding: 1rem 0.5rem;
    }
    .about__card:nth-child(3) {
      display: none;
    }
    .about__right .btn {
      margin-top: 2rem;
    }
  }
  